/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    border: 1px solid red;
}

.btn {
    display: block;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
}

#tableOfGame {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.square {
    width: 80px;
    height: 80px;
    background-color: coral;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
}